services:
  nginx:
    build: 
      context: .
      dockerfile: environment/Dockerfile
    ports:
      - "${HTTP_PORT}:80"
    environment:
    - NGINX_PORT=80
    volumes:
        - ./:/workspace
    working_dir: /workspace
    stdin_open: true
    tty: true
    restart: no
